@charset "utf-8";
td {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 18px;
}
 .td_color{
        background-color: #d0eeee;
        height: 30px; width: 25%; font-weight: bold; border-bottom: solid 1px #ffffff; 
  }
  .button{
    background-color: #13a9a9;color: #fff;width: 100px;height: 30px;
  }
  .teacher_title{
    background-color: #d0eeee;border-top: solid 1px #cccccc;height: 38px; font-weight: bold;
  }
  #teacher_detail{
    width: 100%
  }
  .teacher_row{
     margin: 0 0 0 30px;padding: 0 0 0 30px;position: relative;
  }
  .td_border_botton{
  	border-bottom: solid 1px #bbe7e7;
  }
  #teacher_detail tr {
  	border-bottom: solid 1px #cccccc;
  }
  #teacher_detail td{
  	line-height: 18px;margin: 0 29px 25px;padding: 0 8px 7px;
  }
 .flow-item {
    width: 560px;
    margin: 0 auto;
}  
.flow-item h4 {
    padding: 0.25em 0.75em;
    margin-bottom: 0.5em;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background: #d0eeee;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.flow-item table {
    width: 540px;
    margin: 0 10px;
    border-collapse: collapse;
}
.flow-item table tr {
    vertical-align: top;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.flow-item table th, .flow-item table td {
    padding: 8px 10px;
    border-bottom: solid 1px #dedede; text-align: left;
}

  